In [15]:
import psycopg2

# Create the database connection.

connString = "host=yugabytedb-1 port=5433 dbname=demo user=demo password=demo"

conn = psycopg2.connect(connString)

In [16]:
conn.set_session(autocommit=True)
cur = conn.cursor()
cur.execute(
  """
  DROP TABLE IF EXISTS employee
  """)

cur.execute(
  """
  CREATE TABLE employee (id int PRIMARY KEY,
                        name varchar,
                        age int,
                        language varchar)
  """)
print("Created table employee")
cur.close()
# conn.close()

Created table employee

In [17]:
# Take advantage of ordinary, transactional behavior for DMLs.
conn = psycopg2.connect(connString)
conn.set_session(autocommit=False)
cur = conn.cursor()

# Insert a row.

cur.execute("INSERT INTO employee (id, name, age, language) VALUES (%s, %s, %s, %s)",
            (1, 'John', 35, 'Python'))
print("Inserted (id, name, age, language) = (1, 'John', 35, 'Python')")
conn.commit()
cur.close()
# conn.close()

Inserted (id, name, age, language) = (1, 'John', 35, 'Python')

In [29]:
# Query the row.
# conn = psycopg2.connect(connString)
conn.set_session(autocommit=True)
cur = conn.cursor()
cur.execute("SELECT name, age, language FROM employee WHERE id = 1")
row = cur.fetchone()
print("Query returned: %s, %s, %s" % (row[0], row[1], row[2]))

# Commit and close down.

conn.commit()
cur.close()

InterfaceError: connection already closed

In [ ]:
conn.set_session(autocommit=True)
cur = conn.cursor()
cur.execute("SELECT name, age, language FROM employee WHERE id = 1")
row = cur.fetchone()
print("Query returned: %s, %s, %s" % (row[0], row[1], row[2]))

# Commit and close down.

conn.commit()
cur.close()
conn.close()

In [23]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [25]:
%sql postgresql://demo:demo@yugabytedb-1:5433/demo

In [32]:
%%sql 
CREATE TABLE IF NOT EXISTS employee (
    id int PRIMARY KEY, 
    name varchar, 
    age int,
    language varchar
)

 * postgresql://demo:***@yugabytedb-1:5433/demo
Done.

[]

In [34]:
%%sql 
INSERT INTO employee(id, name, age, language)
VALUES
    (1001, 'Jane', 30, 'EN')

 * postgresql://demo:***@yugabytedb-1:5433/demo
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "employee_pkey"

[SQL: INSERT INTO employee(id, name, age, language)
VALUES
    (1001, 'Jane', 30, 'EN')]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [35]:
%%sql
SELECT * from employee

 * postgresql://demo:***@yugabytedb-1:5433/demo
2 rows affected.

[(1, 'John', 35, 'Python'), (1001, 'Jane', 30, 'EN')]